<div id="weather">
  <h5 class="title">Loading</h5>
  <%= erb :"index/weather_table" %>
  <p id="response_status" class="text-warning text-center">. . .
  </p>
</div>

<h3 class="text-center">Search for weather anywhere</h3>
<form action="/" method="GET" id="location_search" class="bg-info p-2">
  <div class="form-group">
    <label for="city">City&#42;</label>
    <input type="text" id="city" name="city" class="form-control" placeholder="Enter a country" required>
  </div>

  <div class="form-group">
    <label for="country">Country</label>
    <select type="text" id="country" name="country" class="form-control">
      <option id="country_default" value="" selected="selected">None</option>
      <% iso_3166_codes.each do |country| %>
        <option value="<%= country[1] %>"><%= country[0] %></option>
      <% end %>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Search</button>
</form>
