<table id="weather_table" class="table table-sm mx-auto">
  <thead class="thead-inverse">
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Description</th>
      <td class="description">-</td>
    </tr>
    <tr>
      <th>Temp</th>
      <td class="temp">-</td>
    </tr>
    <tr>
      <th>Max</th>
      <td class="temp_max">-</td>
    </tr>
    <tr>
      <th>Min</th>
      <td class="temp_min">-</td>
    </tr>
    <tr>
      <th>Latitude</th>
      <td class="latitude">-</td>
    </tr>
    <tr>
      <th>Longitude</th>
      <td class="longitude">-</td>
    </tr>
  </tbody>
</table>
